.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
}

.content-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-name {
  color: #fff;
  margin-bottom: 15px;
  font-size: 35px;
}

.review-company-name {
  color: #111;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.review-description {
  color: #111;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
